:root{
    --primary_color: #F0C230;
    --secondary_color: #333333;
    --white: #efefef;
    --border: 1.5px solid var(--primary_color);
    --black_shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    --orange_shadow: 2px 2px 15px rgba(255, 221, 0, 0.5);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    list-style-type: none;
    color: var(--secondary_color);
    text-decoration: none;
}

body{
    background-color: var(--white);
}


header{
    box-shadow: var(--black_shadow);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
}


menu ul{
    display: flex;
    align-items: center;
    gap: 5px;
}

menu ul li{
    padding: 10px;
    color: var(--secondary_color);
    font-size: 17px;
    cursor: pointer;
}

menu ul li:hover{
    border-bottom: 2px solid var(--primary_color);
    background-color: rgba(255, 165, 0,0.1)
}

.active{
    border-bottom: 2px solid var(--primary_color);
    background-color: rgba(255, 165, 0,0.1)
}

.profile{
    width: 50px;
    height: 50px;
    background-color: var(--primary_color);
    border-radius: 50%;
    display: none;
}

.btn{
    padding: 10px 15px;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    border: var(--border);
    border-radius: 10px;
}

button:hover{
    box-shadow: var(--orange_shadow);
    background-color: var(--primary_color);
}

.showcase{
    padding-top: 30px;
}



.welcoming{
    flex: 1;
}


.welcoming h1{
    margin-bottom: 10px;
    font-size: 45px;
}
.welcoming p{
    margin-bottom: 30px;
}
.welcoming span{
    color: var(--primary_color);
}





.services{
    background-color: var(--secondary_color);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services h1{
    max-width: 100px;
    color: var(--primary_color);
    text-align: center;
    border-bottom: var(--border);
    margin-bottom: 20px;
}

.services .row{
    width: 80%;
    justify-content: space-evenly;
}

.card{
    padding: 15px;
    border: var(--border);
    max-width: 220px;
    border-radius: 10px;
    background-color: var(--secondary_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.card .icon{
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i_design{
    font-size: 35px;
    color: var(--secondary_color);
}

.card h3, .card p{
    text-align: center;
    color: var(--white);
    margin-top: 10px;
}

.card h3{
    color: var(--primary_color);
}
.card:hover{
    box-shadow: var(--orange_shadow);
}
.card .desc a{
     color: #4677ff;
}

.card button{
    margin-top: 20px;
    font-size: 15px;
    color: var(--primary_color);
}
.card button:hover{
    color: var(--secondary_color);
    background-color: var(--primary_color);

}


