:root{
    --primary_color: #F0C230;
    --secondary_color: #333333;
    --white: #efefef;
    --orange_border: 1.5px solid var(--primary_color);
    --black_border:  1px solid var(--secondary_color);
    --black_shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    --orange_shadow: 1px 1px 5px rgba(255, 221, 0, 0.5);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    list-style-type: none;
    color: var(--secondary_color);
    text-decoration: none;
}

body{
    background-color: var(--white);
}


header{
    box-shadow: var(--black_shadow);
}


.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 10px;
}

header .row{
    justify-content: space-between;
}

.container{
    width: 80%;
    margin: 0 auto;
}


menu ul{
    display: flex;
    align-items: center;
    gap: 5px;
}

menu ul li{
    padding: 10px;
    color: var(--secondary_color);
    font-size: 17px;
    cursor: pointer;
}

menu ul li:hover{
    border-bottom: var(--orange_border);
    background-color: rgba(255, 165, 0,0.1);
    transition: all 0.4s;
}

.active{
    border-bottom: var(--orange_border);
    background-color: rgba(255, 165, 0,0.1)
}

.profile{
    width: 50px;
    height: 50px;
    background-color: var(--primary_color);
    border-radius: 50%;
    display: none;
}

.btn{
    padding: 10px 15px;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    border: var(--orange_border);
    border-radius: 10px;
}

button:hover{
    box-shadow: var(--orange_shadow);
    background-color: var(--primary_color);
    transition: all 0.4s;
}

.showcase{
    background-image: url(images/showcase_bg.jpg);
    background-position: center;
    background-size: cover;
}
.showcase .row{
    padding: 0;
}


.welcoming{
    flex: 1;
}


.welcoming h1{
    margin-bottom: 10px;
    font-size: 45px;
}
.welcoming p{
    margin-bottom: 30px;
}
.welcoming span{
    color: var(--primary_color);
}


.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)),url('images/bg.png');
    background-position: center;
}

.about .row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
    padding: 0;
}

.about h1{
    margin: 20px;
    color: var(--primary_color);
    border-bottom: var(--orange_border);
}



.myInfo {
    flex: 1;
    padding-left: 20px; 
}

.myInfo p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--white);
    letter-spacing: 2px;
}

.s_media {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--primary_color);
    color: var(--secondary_color);
    margin-right: 10px;
}

.s_media:hover{
    background-color: var(--white);
    transition: all 0.4s;
}


.services{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services h1{
    max-width: 100px;
    color: var(--secondary_color);
    border-bottom: var(--black_border);
    margin-bottom: 20px;
}

.services .row{
    width: 80%;
    justify-content: space-evenly;
}

.card{
    padding: 15px;
    max-width: 220px;
    border-radius: 10px;
    background-color: var(--white);
    border: var(--orange_border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.card .icon{
    width: 100px;
    height: 100px;
    background-color: var(--primary_color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i_design{
    font-size: 35px;
    color: var(--secondary_color);
}

.card h3, .card p{
    text-align: center;
    color: var(--secondary_color);
    margin-top: 10px;
}

.card h3{
    color: var(--secondary_color);
}
.card:hover{
    background-color: var(--primary_color);
    box-shadow: var(--black_shadow);
    .icon{
        background-color: var(--white);
    }
    button{
        border: var(--black_border);
    }
    transition: all 0.5s;
}
.card .desc a{
     color: #4677ff;
}

.card button{
    margin-top: 20px;
    font-size: 15px;
    color: var(--secondary_color);
    border: var(--orange_border);
}
.card button:hover{
    color: var(--white);
    background-color: var(--secondary_color);
    transition: all 0.4s;
}

.my_skills{
    padding: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)),url('images/bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my_skills h1{
    color: var(--primary_color);
    border-bottom: var(--orange_border );
    margin: 20px 0px;
}

.my_skills p{
    color: var(--white);
    margin-top: 50px;
    text-align: start;
    background-color: var(--primary_color);
}

.my_skills .card2{
    background-color: transparent;
    min-width: 140px;
    min-height: 140px;
}

.my_skills .card2 .icon{
    width: 70px;
    height: 70px;
}

.my_skills .card2:hover{
    background-color: var(--white);
    .icon{
        background-color: var(--primary_color);
    }
    h4{
        color: var(--secondary_color);
    }
  
}

.my_skills .card2 h4{
    margin-top: 20px;
    color: var(--primary_color);
}

.contact{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact h1{
    color: var(--secondary_color);
    border-bottom: var(--black_border);
    margin-bottom: 15px;
}

.contact form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('images/bg.png');
    background-position: center;

    border: var(--orange_border);
}

.contact form input, .contact form textarea{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: var(--orange_border);
    background-color: transparent;
    color: var(--white);
}

.contact form textarea{
    height: 200px;
}

.contact form input:focus, .contact form textarea:focus{
    border: var(--orange_border);
}

.contact form .btn:hover{
    background-color: var(--primary_color);
    color: var(--secondary_color);
    transition: all 0.4S;
}


footer{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url('images/bg.png');
    background-position: center;
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer p{
    color: #6d6d6d;
}